# Visual Studio Code settings
!.vscode/

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# CMake build artifacts
build/
build_release/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lib
*.a

# Executable files
*.exe
*.out
*.app

# Other temporary files
*.log
*.tmp
*.swp
*.swo
