# Visual Studio Code settings
.vscode/

# CMake build artifacts
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lib
*.a

# Executable files
*.exe
*.out
*.app

# Other temporary files
*.log
*.tmp
*.swp
*.swo
